.userInfo-content
    display: flex
    align-items: center
    flex-direction: column
    hr
        width: 15%
    a
        text-decoration: none
        margin: 0%
        h3
            color: #9d9d9d
            font-size: 120%
            
    .user-content
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 2%
        p
            font-family: "Arial",sans-serif
            font-size: 120%
        img
            width: 140%
            border-radius: 10px
        
